doctype html
head
  title Misskey API
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style.
    body {
    margin: 0;
    padding: 0;
    }
redoc(spec-url='/api.json' expand-responses='200' expand-single-schema-field='true')
script(src='/assets/redoc.standalone.js?2.0.0-rc.50' integrity='sha256-WJbngBWN9vp6vkEuzeoSj5tE5saW9Hfj6/SinkzhL2s=')
