name: Windows CI

on: [push]

jobs:
  build:

    runs-on: [windows-latest]

    strategy:
      matrix:
        node-version: [12.x, 13.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install
    - run: cp .circleci/misskey/*.yml .config/
    - run: yarn build
    - run: yarn test
